<!doctype html>
<html lang="en" xmlns:usapp="http://www.w3.org/1999/xhtml" xmlns:ride_time="http://www.w3.org/1999/xhtml" xmlns:lugg
      xmlns:user="http://www.w3.org/1999/xhtml">
<head>
{% load staticfiles %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width; initial-scale=1.0">
<title>Title</title>
<meta name="description" content="Desc">
<meta name="keywords" content="Keywords">
<link rel="stylesheet" href="{% static "css/style.css" %}">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet'>
<link rel="stylesheet" href="{% static "js/jquery/development-bundle/themes/start/jquery.ui.all.css" %}">
<link rel="stylesheet" href="{% static "js/jquery/css/demos.css" %}">
<script type='text/javascript' src="{% static "js/jquery-1.7.2.min.js" %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuGBB_AIakD-eVCpOhC4pMfRKwEcul9KQ&libraries=places"></script>
</head>
<body>
<div class="fare-container">
  <header>
      <div class="fare-header-left">
          <div class="logo">
             <img src="{% static "images/logo.png" %}">
          </div>
      </div>
      <div class="fare-header-right">
          <span>Find your ideal car service and compare prices from different websites</span>
      </div>
  </header>

  <section id="login-form">
      <div class="login-section">
          <h1>Password reset complete</h1>
          <div class="full ">
              <p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</p>
          </div>

      </div>
  </section>


</div>
  {% include "footer.html" %}
</body>
</html>