{% load staticfiles %}
<footer>
           <div class="main-container">
           <div class="wid100 bdr">
                <div class="wid33">
                <h3>US AIRPORT CAB</h3>
                </div>
                <div class="wid33">
                <a href="" class="st">SIGN UP TO RIDE</a>
                </div>
                <div class="wid33">
                <a href="" class="st1">BECOME A DRIVER</a>
                </div>
            </div>

            <div class="wid100 ">
                <div class="wid33">
                  <ul>
                    <li><a href="">Enter your location</a></li>
                    <li><a href="">English</a></li>
                    <li><a href="">Help</a></li>
                  </ul>
                </div>
                <div class="wid33">
                    <ul>
                    <li><a href="">Ride</a></li>
                    <li><a href="">Drive</a></li>
                    <li><a href="">Cities</a></li>
                    <li><a href="">Fare Estimate</a></li>
                  </ul>
                </div>
                <div class="wid33">
                     <ul>
                    <li><a href="">Safety</a></li>
                    <li><a href="">Careers</a></li>
                    <li><a href="">Helping Cities</a></li>
                    <li><a href="">About us</a></li>
                  </ul>
                </div>
            </div>
           </div>
         </footer>
<script type="text/javascript">
    $(function()
    {
        var benefits = $('.messages');

        // this is the show function
        $('.close').click(function()
        {
            benefits.hide();
        });
    });
</script>