<!doctype html>
<html lang="en" xmlns:usapp="http://www.w3.org/1999/xhtml">
<head>
{% load staticfiles %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width; initial-scale=1.0">
<title>Title</title>
<meta name="description" content="Desc">
<meta name="keywords" content="Keywords">
<link rel="stylesheet" href="{% static "css/style.css" %}">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet'>
<link rel="stylesheet" href="{% static "js/jquery/development-bundle/themes/start/jquery.ui.all.css" %}">
<link rel="stylesheet" href="{% static "js/jquery/css/demos.css" %}">
<script type='text/javascript' src="{% static "js/jquery-1.7.2.min.js" %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuGBB_AIakD-eVCpOhC4pMfRKwEcul9KQ&libraries=places"></script>
</head>
<body>

  {% include "header.html" %}

    <div class="main-container">
    <div class="map-wrapper">
      <div class="search-places">
       <h2>Get a fare Estimate</h2>
       <span class="st">Find your ideal Car Service and compare prices from different websites</span>
       <form name="check_fare_form" id="check_fare_form" method="post"  enctype="multipart/form-data" action="{% url "usapp:getfare" %}">

           {% csrf_token %}
           <input type="text" name="from" id="from" placeholder="Enter pickup location" required/>
           <input type="text" name="to" id="to" placeholder="Enter Destination" required/>
           <div class="addmore">
               <div class="full">
                    <div class="half"><input type="text" name="datepicker" id="datepicker"  placeholder="Select Date" onclick="initialize();"  autocomplete="off" required/></div>
                    <div class="half">
                        <select name="time" required>
                            <option value="">Select Time</option>
                            {% for i,j in time %}
                            <option value="{{ j }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
               </div>
               <div class="full">
                    <div class="half">
                        <select name="pax" required>
                            <option value="">Select Pax</option>
                            {% for i in range %}
                            <option value="{{ i }}"> {{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="half">
                        <select name="lugg" required>
                            <option value="">Select Lugg</option>
                            {% for i in range %}
                            <option value="{{ i }}"> {{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
               </div>
               <input type="hidden" name="key" id="key" value="">
           </div>
           <input type="submit" name="submit" class="bluebtn" value="Estimate Fare &#x27A1;" id="submit"/>
       </from>
      </div>
      <div class="right-map">
          <div id="map-canvas"></div>
          <div id="directionsPanel"></div>
          <div id="total"></div>
      </div>
    </div>
    </div>
  </div>
  </form>
 <div class="wid100 pad30">
    <div class="main-container">
       <ul class="ser">
         <li>
           <img src="{% static "images/1.png" %}"/>
           <span>Easiet Way around</span>
           <p>The company was formed into a legal corporation and started working as a fully integrated pharmaceutical company . We take great pride in the success of our products ranging from Pharma, OTC and FMCG brands. Since its inception</p>
         </li>
         <li>
           <img src="{% static "images/2.png" %}"/>
           <span>Easiet Way around</span>
           <p>The company was formed into a legal corporation and started working as a fully integrated pharmaceutical company . We take great pride in the success of our products ranging from Pharma, OTC and FMCG brands. Since its inception</p>
         </li>
         <li>
           <img src="{% static "images/3.png" %}"/>
           <span>Easiet Way around</span>
           <p>The company was formed into a legal corporation and started working as a fully integrated pharmaceutical company . We take great pride in the success of our products ranging from Pharma, OTC and FMCG brands. Since its inception</p>
         </li>
       </ul>

    </div>
 </div>
        <div class="reson pad30">
          <img src="{% static "images/5.jpg" %}"/>
          <div class="main-container">
             <div class="des">
                <h2>Easiet Way around</h2>
                <p>The company was formed into a legal corporation and started working as a fully integrated pharmaceutical company . We take great pride in the success of our products ranging from Pharma, OTC and FMCG brands. Since its inception</p>
                <a href="">Reasons To Drive 	&#x27A1;</a>
             </div>
           </div>
        </div>

         <div class="wid100">
            <div class="main-container">
              <div class="build">
                <img src="{% static "images/4.png" %}"/>
              </div>
              <div class="build-left">
                <h2>Build for work</h2>
                <h3>Business</h3>
                <p>The company was formed into a legal corporation and started working as a fully integrated pharmaceutical company . We take great pride in the success of our products ranging from Pharma, OTC and FMCG brands. Since its inception</p>
              </div>
            </div>
         </div>
         {% include "footer.html" %}
    <script type="text/ecmascript">

var rendererOptions = {
  draggable: true
};
var directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);
var directionsService = new google.maps.DirectionsService();
var map;

var start_pos = new google.maps.LatLng(42.3132883,-71.1972422);

function initialize() {
var defaultBounds = new google.maps.LatLngBounds(
new google.maps.LatLng(42.3132883,-71.1972422),
new google.maps.LatLng(42.3381569,-71.0547562)
);

  var mapOptions = {
    bounds:defaultBounds,
    zoom:17,
    center: start_pos
  };

  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  var from = (document.getElementById('from'));
  var to = (document.getElementById('to'));

  var autocomplete = new google.maps.places.Autocomplete((from), { types: ['geocode'] } );
  var autocomplete = new google.maps.places.Autocomplete((to), { types: ['geocode'] } );
  autocomplete.bindTo('defaultBounds', map);
  directionsDisplay.setMap(map);
  //directionsDisplay.setPanel(document.getElementById('directionsPanel'));
  google.maps.event.addListener(directionsDisplay, 'directions_changed', function() {
    computeTotalDistance(directionsDisplay.getDirections());
  });
  //displayRoute('Perth, WA', 'Sydney, NSW', directionsService, directionsDisplay);
  calcRoute();
  //codeAddress();
}

function calcRoute() {
  var request = {
    origin: document.getElementById('from').value,
    destination: document.getElementById('to').value,
    travelMode: google.maps.TravelMode.DRIVING
  };
  directionsService.route(request, function(response, status) {
    if (status == google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
    }
  });
}

function computeTotalDistance(result) {//alert(result[0].formatted_address);
  var total = 0;
  var myroute = result.routes[0];
  var serviceVal=$("#servicetype").val();
  var distance = 0;
  //var summaryPanel = document.getElementById("directionsPanel");
  //summaryPanel.innerHTML = "";
  //summaryPanel.className = "directionsPanel";
  for (var i = 0; i < myroute.legs.length; i++) {
    total += myroute.legs[i].distance.value;
	//var routeSegment = i + 1;
  //summaryPanel.innerHTML += "<b>Route Segment: " + routeSegment + "</b><br />";
  //summaryPanel.innerHTML += myroute.legs[i].start_address + " to ";
  //summaryPanel.innerHTML += myroute.legs[i].end_address + "<br />";
    distance += myroute.legs[i].distance.text;


	  if(serviceVal==1){
		document.getElementById('from').value = myroute.legs[i].start_address;
		//document.getElementById('to').value = myroute.legs[i].end_address;
		}
	  if(serviceVal==2){
		//document.getElementById('from').value = myroute.legs[i].start_address;
		document.getElementById('to').value = myroute.legs[i].end_address;
		}
	  if(serviceVal==3){
		document.getElementById('from').value = myroute.legs[i].start_address;
		document.getElementById('to').value = myroute.legs[i].end_address;
		}
	 if(serviceVal==4){
		document.getElementById('from').value = myroute.legs[i].start_address;
		document.getElementById('to').value = myroute.legs[i].end_address;
	  }
  document.getElementById('from').value = myroute.legs[i].start_address;
  document.getElementById('to').value = myroute.legs[i].end_address;
  }
  total = total / 1000.0;
  document.getElementById('total').innerHTML = total + ' km';
  var total_dis =  distance.split(" ");
  document.getElementById('key').value = total_dis[0];
}

google.maps.event.addDomListener(window, 'load', initialize);
  </script>
<script src="{% static "js/jquery/development-bundle/ui/jquery.ui.core.js" %}"></script>
<script src="{% static "js/jquery/development-bundle/ui/jquery.ui.widget.js" %}"></script>
<script src="{% static "js/jquery/development-bundle/ui/jquery.effects.slide.js" %}"></script>
<script src="{% static "js/jquery/development-bundle/ui/jquery.ui.datepicker.js" %}"></script>
<script type="text/javascript">$(function(){$("#datepicker").datepicker({minDate: 0});$("#datepicker").datepicker();$("#datepicker").datepicker("option", "showAnim", "slideDown");$('#bookingform').each (function(){this.reset();});});
</script>
</body>
</html>